:root{
    --primary-clr: #0035A4;    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D8F1FF;

}
.container{
    position: relative;
    width: 1200px;
    min-height: 850px;
    margin: 0 auto;
    padding: 5px;
    color:azure;
    display: flex;
    border-radius: 10px;
    background-color: #000138;
}
.left{
    width: 90% ;
    padding: 20px;
}
.calendar{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #9E9FBF;
    border-radius: 5px;
    background-color: #fff;
}
.calendar::before,
.calendar::after{
    content:"";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 12px;
    height: 97%;
    border-radius: 0 5px 5px 0;
    background-color: #9E9FBF;
    transform: translateY(-50%);
}
.calendar::before{
    height: 94%;
    left: calc(100% + 12px);
    background-color: #545585;
}
.calendar .month{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.2rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .month .prev,
.calendar .month .next{
    cursor: pointer;
    font-size: 1.5rem;

}
.calendar .month .prev:hover,
.calendar .month .next:hover{
    color: var(--primary-clr);
    font-size: 2rem;

}
.calendar .weekdays{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: capitalize;
}
.calendar .weekdays div{
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calendar .days{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1ren;
    font-weight: 500;
    margin-bottom: 20px;
} 
.calendar .days .day{
    width: 14.28%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #D4F1FF;
}
.calendar .day:not(.prev-date, .next-date):hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .days .prev-date,
.calendar .days .next-date{
    color: #9E9FBF;    
}
.calendar .days .active{
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}
.calendar .days .today{
    font-size: 2rem;
}
.calendar .days .event{
    position: relative;
}
.calendar .days .event::after{
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}
.calendar .event:hover::after{
    background-color: #fff;
}
.calendar .active.event::after{
    background-color: #fff;
    bottom: 20%;
}.calendar .active.event{
    padding-bottom: 10px;    
}
.calendar .goto-today{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}
.calendar .goto-today .goto{
    display: flex;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}
.calendar .goto-today .goto input{
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 5px;
}
.calendar .goto-today button{
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}
.calendar .goto-today button:hover{
    color: #fff;
    background-color: var(--primary-clr);
}
.calendar .goto-today .goto button{
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}

.container .right{
    position: relative;
    width: 40%;
    min-height: 100%;
    padding: 20px 0;
}
.right .today-date{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    padding-left: 55px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.today-date .event-day{
    font-size: 2rem;
    font-weight: 500;
}
.today-date .event-date{
    font-size: 1rem;
    font-weight: 400;
    color: #6b6b8d;
}
.events{
    width: 100%;
    height: 100%;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 4px;
}
.events .event{
    position: relative;
    width: 95%;
    min-height: 70px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding: 0 20px;
    padding-left: 50px;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(90deg, #272856, transparent);
}
.events .event:nth-child(even){
    background: transparent;
}
.events .event:hover{
    background: linear-gradient(90deg, var(--primary-clr), transparent);
}
.events .event .title{
    display: flex;
    align-items: center;
    pointer-events: none;
}
.events .event .title .event-title{
    font-size: 1rem;
    font-weight: 400;
    margin-left: 20px;
}
.events .event .title i{
    color: var(--primary-clr);
    font-size: 0.5rem;
}
.events .event:hover .title i,
.events .event:hover .event-time{
    color: #fff;
}
.events .event .event-time{
    font-size: 0.8rem;
    font-weight: 400;
    color:#6b6b8d;
    margin-left: 15px;
    pointer-events: none;
}
.events .event::after{
    content: "✔";
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 3rem;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0.3;
    color: var(--primary-clr);
    transform: translateY(-50%);
}
.events .event:hover::after{
    display: flex;
}
.events .no-event{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #6b6b8d;
}
.add-event-wrapper{
    position: absolute;
    bottom: 100px;
    left: 50%;
    width: 90%;
    max-height: 0;
    overflow: hidden;
    border-radius: 5px;
    background-color: #fff;
    transform: translateX(-50%);
    transition: max-height 0.5s ease;
}
.add-event-wrapper.active{
    max-height: 300px;
}
.add-event-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color:#6b6b8d;
    border-bottom: 1px solid #fff;
}
.add-event-header .close{
    font-size: 1.5rem;
    cursor: pointer;
}
.add-event-header .close:hover{
    color: var(--primary-clr);
}
.add-event-header .title{
    font-size: 1.2rem;
    font-weight: 500;
}
.add-event-body{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}
.add-event-body .add-event-input{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.add-event-body .add-event-input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    color: #6b6b8d;
}
.add-event-body .add-event-input input::placeholder{
    color: #cacaca;
}
.add-event-body .add-event-input input:focus{
    border-color: var(--primary-clr);
}
.add-event-body .add-event-input input:focus::placeholder{
    color: var(--primary-clr);
}
.add-event-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.add-event-btn{
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    outline: none;
    border: none;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
}
.add-event-btn:hover{
    color: var(--primary-clr);
    background-color: transparent;
}
.add-event {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: #9797ae;
    border: 2px solid #9797ae;
    opacity: 0;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border-width: 3px;
    transition: opacity 1s ease;
    pointer-events: none;
}
.add-event.active:hover{
    opacity: 1;
}
.add-event i{
    pointer-events: none;
    font-size: 25px;
}
.add-event.active{
    opacity: 0.5;
    pointer-events: auto;
}
.manage-list{
    position: absolute;
    bottom: 25px;
    left: 30px;
    width: 125px;
    height: 40px;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    opacity: 0.5;
    border-radius: 2%;
    background-color: transparent;
    cursor: pointer;
    height: 40px;
    font-size: 1rem;
    font-weight: 500;
    color: #9797ae;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #9797ae;
}
.manage-list i{
    pointer-events: none;
    font-size: 25px;
}
.manage-list.active{
    opacity: 1;
    color: #fff;
    border-color: #fff;
}
.filter-btn {
    position: absolute;
    bottom: 85px;
    left: 30px;
    width: 125px;
    height: 40px;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 500;
    color: #9797ae;
    border-radius: 5px;
    border: 2px solid #9797ae;
    transition: opacity 1s ease;
    pointer-events: none;
}
.sort-btn {
    position: absolute;
    bottom: 85px;
    right: 30px;
    width: 125px;
    height: 40px;
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    background-color: transparent;
    font-size: 1.25rem;
    font-weight: 500;
    color: #9797ae;
    border-radius: 5px;
    border: 2px solid #9797ae;
    transition: opacity 1s ease;
}
.search-bar{
    position: absolute;
    top: 60px;
    left: 10%;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 2px solid #fff;
    opacity: 0;
    transition: opacity 1s ease;
}
.search-bar .search-btn{
    width: 35px;
    font-size: 1.5rem;
    padding: 3px 4px;
    background-color: #fff;
    color: var(--primary-clr);
    border: 1px solid #fff;
}
.search-bar .search-text{
    width: 265px;
    font-size: 1rem;
    color: var(--primary-clr);
    border: transparent;
}
.search-bar.show{
    opacity: 1;
}
.filter-btn.show,
.sort-btn.show{
    pointer-events: auto;
    opacity: 0.5;
}
.filter-btn.show.active,
.sort-btn.show.active{
    opacity: 1;
    color: #fff;
    border-color: #fff;
}
.manage-list:hover,
.filter-btn.show:hover,
.sort-btn.show:hover,
.search-bar .search-btn:hover{
    opacity: 1;
    background-color: var(--primary-clr);
    color: #fff;
    border-color: #fff;
    cursor: pointer;
}
.filter-event-wrapper{
    position: absolute;
    bottom: 50px;
    left: 15%;
    width: 70%;
    height: 175px;
    gap: 5px;
    background-color: #fff;
    border-radius: 5px;
    color: var(--primary-clr);
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;
}
.filter-event-wrapper.active{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(-60%);
}
.filter-event-header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.filter-event-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 45px;
}
.filter-event-body .filter-event-input{
    width: 100%;
    height: 30px;
}
.filter-event-body .filter-event-input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary-clr);
}
.filter-event-body .filter-event-input::placeholder{
    color: #cacaca;
}
.filter-event-body .filter-event-input input:focus{
    border-color: var(--primary-clr);
}
.filter-event-body .filter-event-input input:focus::placeholder{
    color: var(--primary-clr);
}
.filter-event-btn button{
    height: 30px;
    width: 30%;
    position: absolute;
    color: #fff;
    background-color: var(--primary-clr);
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid var(--primary-clr);
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
    bottom: 15px;
}
.filter-do{
    left: 10%;
}
.filter-all{
    right: 10%;
}
.sort-event-wrapper{
    position: absolute;
    bottom: 70px;
    right: 30px;
    width: 125px;
    max-height: 300px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    opacity: 0;
    transition: all 1s ease;
    pointer-events: none;
}
.sort-event-wrapper .sort-event-header{
    height: 40px;
    color: var(--primary-clr);
    align-content: center;
    justify-content: center;
    font-size: 1.25rem;
}
.sort-event-wrapper .sort-event-btn{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 40px;
    font-size: 1rem;
    gap: 5px;
}
.sort-event-wrapper .sort-event-btn button{
    border: none;
    outline: none;
    width: 100%;
    height: 90%;
    font-size: 1rem;
    font-weight: 500;
    background: var(--primary-clr);
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.sort-event-wrapper i{
    font-size: 1rem;
}
.sort-event-wrapper.active{
    opacity: 1;
    transform: translateY(-60px);
    pointer-events: auto;
}
@media screen and (max-width: 1000px) {
    body {
      align-items: flex-start;
      justify-content: flex-start;
    }
    .container {
      min-height: 100vh;
      flex-direction: column;
      border-radius: 0;
    }
    .container .left {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .container .right {
      width: 100%;
      height: 100%;
      padding: 20px 0;
    }
    .calendar::before,
    .calendar::after {
      top: 100%;
      left: 50%;
      width: 97%;
      height: 12px;
      border-radius: 0 0 5px 5px;
      transform: translateX(-50%);
    }
    .calendar::before {
      width: 94%;
      top: calc(100% + 12px);
    }
    .events {
      padding-bottom: 340px;
    }
    .add-event-wrapper {
      bottom: 100px;
    }
  }
  @media screen and (max-width: 500px) {
    .calendar .month {
      height: 75px;
    }
    .calendar .weekdays {
      height: 50px;
    }
    .calendar .days .day {
      height: 40px;
      font-size: 0.8rem;
    }
    .calendar .days .day.active,
    .calendar .days .day.today {
      font-size: 1rem;
    }
    .right .today-date {
      padding: 20px;
    }
  }
  